@import '/src/index.scss';

.main_container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding-top: 5rem;

    .title {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main_section {
        height: 100%;
        display: flex;
        flex-wrap: wrap;

        .main_page_container {
            padding: 1.5rem;
            flex: 2 1 10rem;

            .main_page_section {
                display: flex;
                flex-direction: column;
                height: 100%;

                .main_page_title {
                    padding: 0.5rem 1rem;
                    justify-content: space-between;
                    align-items: center;
                    display: flex;
                    flex-direction: row;
                    flex: 1 1 10%;
                    // max-height: 5rem;
                }

                .organization_tables {
                    align-items: center;
                    flex-direction: column;
                    padding: 1rem 1rem;
                    display: flex;
                    flex: 1 1 85%;
                    
                    .organization_table {
                        max-height: 20rem;
                        width: 100%;
                        overflow: auto;
                        padding: 1rem 1rem;
                        display: flex;
                        justify-content: center;
                        flex: 1 1 85%;
                    }
                }
            }
        }

        .main_page_aside {
            padding: 1.5rem;
            flex: 1 1 12rem;

            .organization_section {
                display: flex;
                flex-direction: column;
                height: 100%;

                .organization_title {
                    padding: 0.5rem 1rem;
                    justify-content: space-between;
                    align-items: center;
                    display: flex;
                    flex-direction: row;
                    flex: 1 1 10%;
                }


                .organization_plot {
                    align-items: center;
                    padding: 1rem 1rem;
                    display: flex;
                    flex: 1 1 85%;
                }
            }
        }
    }
}