@import '/src/index.scss';

.selector-container {
    padding: 0.5rem;
    margin: 1rem 0;

    border-radius: 0.5rem;
    background: $secondary-background-color;
    color: $font-color;
    width: 100%;

    select.custom-select {
        width: 100%;
        // padding: 0.5rem 1rem;
        border: none;
        border-radius: 0.4rem;
        background: $secondary-background-color;
        color: $font-color;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        cursor: pointer;

        &:hover {
            outline: none;
            border-color: $secondary-color;
            box-shadow: 0 0 0 0.2rem $secondary-color;
        }

        option {
            padding: 0.5rem;
        }
    }
}